body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0FFFF;
  margin-top: 200px;
}

svg {
  background-color: #F0F8FF;
  border: 2px solid black;
  box-shadow: 10px 10px 10px 5px darkgray;
}


#tooltip {
  display: flex;
  position: absolute;
  width: 120px;
  height: 40px;
  padding: 10px;
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
  background-color: white;
  pointer-events: none;
}

.bar {
  fill: DarkOliveGreen;
}

.bar:hover {
  fill: #BDB76B
}
